.titulo {align-items: center; color: rgb(236, 162, 190); font-size: 20px;}
.paragrafo {align-items: center;
    background-color: rgb(169, 9, 73)70, 169);
        color: white;
            padding: 24px 0;
                margin: 0 16px;
                    font-size: 20px;
                    }
