.texto {text-align: center; font-size: 20px; padding: 24px 0;
                    margin: 0 16px; color: rgb(236, 162, 190);}
.luana {
  text-align: center;
    background-color: rgb(169, 9, 73)70, 169);
        color: white;
            padding: 24px 0;
                margin: 0 16px;
                    font-size: 20px;
                    }
